/* Global */
:root {
  /* color */

  /* font size */

  /* font weight */

  /* size */

  /* animation */
}

/* Universal Tags */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

i {
  font-size: x-large;
}

/* yourprofile.html */
header {
  position: fixed;
  width: 100%;
  background: url('/static/images/background.png');
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  z-index: 1;
}

.header__logo {
  color: white;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card {
  margin-top: 100px;
  width: 600px;
}

.card__container {
    display: flex;
    flex-direction: column;
}

.card-name {
  margin-top: 20px;
    text-align: center;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list__content {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 20px 0;
}
