/* Global */
:root {
  /* color */

  /* font size */

  /* font weight */

  /* size */

  /* animation */
}

/* Universal Tags */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

i {
  font-size: x-large;
}

/* main.html */
/* Typography */

/* Header */

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 50px 0;
  z-index: 1;
  background-color: white;
}

/* Section */
section {
  padding-top: 120px;
}

.article__container {
    display: flex;
    flex-direction: column;
}

.article__button--sort {
  display: flex;
  align-items: center;
  margin: auto;
}

.article__card--container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 20px;
}

.card-content {
  text-align: center;
}

span {
  margin-bottom: 3px;
}

/* Footer */

/* Modal */
.box {
  margin: auto;
}

#modal-js-example--login > div.modal-content > div {
  width: 450px;
}

.login__input, .signup__input {
  display:flex;
  flex-direction: column;
}

.absolute {
  position: relative;
}

#recheck {
  position: absolute;
  top: 30px;
  right: 25px;
  height: 30px;
  border: none;
}

.fa-circle-check {
  margin-left: 3px;
}

.title {
  text-align: center;
}

