<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <!-- 데이터 설정 -->
    <meta />

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />

    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/e9ae2072f9.js"
      crossorigin="anonymous"
    ></script>

    <!-- JS -->
    <script defer src="/static/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script></script>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="header__logo">
        <i class="fa-brands fa-creative-commons-nd"></i>
      </div>
      <div class="header__title">
        <h1 class="title is-2">유대의 민족</h1>
      </div>
      {% if login == True %} {{session['user_name']}} 님 반가워요!
      <div class="header__auth">
        <!-- <button class="button is-light">로그인</button> -->
        <button class="button is-light" onclick="logout()">로그아웃</button>
        <!-- <button class="button is-info">회원가입</button> -->
        <!-- <a class="button is-info" onclick="myprofile('{{session_id}}')">내 프로필 </button> -->
        <a class="button is-info" href={{ url_for('profilePage',  user_id = session_id ) }} )">내 프로필 </a>
      </div>
      {% else %}
      <div class="header__auth">
        <!-- <button class="button is-light">로그인</button> -->
        <button
          class="button is-light js-modal-trigger1"
          data-target="modal-js-example--login"
        >
          로그인
        </button>
        <!-- <button class="button is-info">회원가입</button> -->
        <button
          class="button is-info js-modal-trigger2"
          data-target="modal-js-example--signup"
        >
          회원가입
        </button>
      </div>

      {% endif %}
    </header>

    <!-- Section -->
    <section>
      <article>
        <div class="article__container">
          <div class="article__button--sort">
            <button class="button is-white">공감 순</button>
            <span>|</span>
            <button class="button is-white">최신 순</button>
          </div>
          <div class="article__card--container">
            {% for user in users %}

            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img
                    src="https://bulma.io/images/placeholders/1280x960.png"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <a class="content__name" href={{ url_for('you',  user_id = user.user_id )}}>{{user.name}}</a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </article>
    </section>

    <!-- Footer -->

    <footer>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Bulma</strong> by
            <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is
            licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
            The website content is licensed
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
              >CC BY NC SA 4.0</a
            >.
          </p>
        </div>
      </footer>
    </footer>

    <!-- Modal -->
    <div>
      <div id="modal-js-example--login" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
          <div class="box">
            <h1 class="title">로그인</h1>
            <!-- Your content -->
            <div class="login__input">
              <label for="login__id">ID</label>
              <br />

              <input
                class="input"
                type="text"
                placeholder="아이디를 입력하세요."
                id="login__id"
                name="login__id"
              />
              <br />

              <label for="login__password">Password</label>
              <br />

              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" id="login__password"
                  name="login_password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              <br />

              <div class="login__buttons">
                <button class="button signup__complete" onclick="login()">
                로그인
                </button>
                <button
                class="button signup__cancel"
                onclick="location.href= '/'"
              >
                취소
                </button>
              </div>
            </div>
          </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
      </div>

      <div id="modal-js-example--signup" class="modal">
        <div class="modal-background"></div>

        <div class="modal-content">
          <div class="box">
            <h1 class="title">회원가입</h1>
            <!-- Your content -->
            <div class="signup__input">
              <!--  form 태그 대신 div 태그 -->
              <div>
              <label for="signup__name">이름을 입력하세요.</label>
              <br />
              <input
              class="input"
                type="text"
                placeholder="이름을 입력해주세요."
                id="signup__name"
                name="signup__name"
              />
            </div>
              <br />

              <div class="absolute"> 

              <label for="signup__id">아이디를 입력하세요.

              </label>
              <br />
              <input
              class="input"
                type="text"
                placeholder="아이디를 입력해주세요."
                id="signup__id"
                name="signup__id"
              />
              <button class="button" id="recheck" onclick="idOverlap()">중복 체크<i class="fa-solid fa-circle-check"></i></button>
            </div>
              <br />

              <div>
              <label for="signup__password">비밀번호를 입력하세요.</label>
              <br />

              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" id="signup__password"
                  name="signup__password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
            </div>
            <br />

            <div>
              <label for="signup__password--re">비밀번호를 재확인하세요.</label>

              <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password"                 id="signup__password--re"
                  name="signup__password--re">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
            </div>
              <br />

              <div class="signup__buttons">
              <button class="button signup__complete" onclick="signup()">
                회원가입
              </button>
              <button
                class="button signup__cancel"
                onclick="location.href= '/'"
              >
                취소
              </button>
            </div>
            </div>
            <!-- form 태그 대신 div 태그 -->
          </div>
        </div>

        <button class="modal-close is-large" aria-label="close"></button>
      </div>
    </div>
  </body>
</html>
