<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myprofile</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/styleMy.css" />

      <!-- JS -->
    <script defer src="/static/main.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      crossorigin="anonymous"
    ></script>


    <script>
      function registerInfo(user_id) {
      let info = $('#my_info').val();
      let name = $('#user_info_name').text();
       $.ajax({
         type : "POST",
         url : '/registerInfo',
         data : {user_id : user_id ,my_info : info , name : name },
         success : function(response){
           if (response["result"] == "success") {
            window.location.reload();
      }

         },
       });
      }

      function deleteInfo(pk) {
       user_id = $(`#${pk}`).text();
       
       $.ajax({
         type : "POST",
         url : '/deleteInfo',
         data : {pk : pk , user_id : user_id},
         success : function(response){
           if (response["result"] == "success") {
            window.location.reload();
      }
         },
       });
      }
    </script>
  </head>
  <body>
    <header>
      <button class="button" onclick="window.location.href='{{ url_for( 'main' ) }}';" >돌아가기</button>
    </header>
    <div class="wrap">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
      
        <div class="card__container">
          <div class="card-name" id="user_info_name">{{user_info.name}}</div>
          <div class="card-content">
            <div class="card__header">
              <div class="card__text">
                <span class="common__text">공감 : </span>
                <span class="common__count">{{sympathyCnt}}</span>
              </div>
              <footer class="card-footer">
                <a href="#" class="card-footer-item">수정</a>
                <a href="#" class="card-footer-item">삭제</a>
              </footer>
            </div>
            <div class="list">
                {% for info in my_info %}
              <div class="list__content">
                <div class="content__comment">{{info.info}}</div>
                <div id="{{info._id}}" style="display: none">{{info.user_id}}</div>
                <button class="button"  onclick="deleteInfo('{{info._id}}')" > 삭제 </button>
              </div>
              {% endfor %}
            </div>

            <div class="card__input">
              <input id = "my_info" type="text" placeholder="나를 소개 해보아요." />
              <button class="button" onclick="registerInfo('{{user_info.user_id}}')">등록</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
