<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}

    <!-- CSS -->
    <link rel="stylesheet" href="/static/styleYour.css" />

    <script>
      let total = 0;
      $(document).ready(function () {
        
        // showSympathyPeople();
      });

      // function showSympathyPeople() {
      //  common_pk = $('#common_hidden').text();
      //  console.log("pk~~~",common_pk)
      //   $.ajax({
      //     type : "GET",
      //     url : "/showSympathy",
      //     data : {},

      //   })
      //   $("#sympathy_data").append();

      // }
      function callSympathyData(common_pk) {
        $.ajax({
          type: "POST",
          url: "/callSympathy",
          data: { info_pk: common_pk },
          success: function (response) {
            datas = response["data"];
            for (let i = 0; i < datas.length; i++) {
              person = datas[i]["sympathy_person"];
              console.log(person);
              $(`#${common_pk}_2`).append(person + " ");
            }
            total += datas.length
            $('.common__count').html(total) 
          },
        });
      }
   
      function clickSympathy(common_id) {
        info = $(`.${common_id}`).text();
        user_id = $(`#${common_id}`).text();
        sympathy_person = $("#hidden_id").text(); // 공감 버튼을 누르는 사람 이름(로그인)
        session_id = $("#hidden_id2").text(); // 공감 버튼을 누르는 사람 아이디(로그인)
        if (user_id == session_id) {
          alert("본인 글에는 공감 할 수 없습니다. 미안~");
          return;
        }
        console.log(info, user_id, sympathy_person);
        $.ajax({
          type: "POST",
          url: "/sympathy",
          data: {
            user_id: user_id,
            sympathy_id: session_id,
            sympathy_person: sympathy_person,
            info: info,
            pk: common_id,
          },
          success: function (response) {
            if (response["result"] == "success") {
              window.location.reload();
            } else {
              alert("공감 취소!!");
              window.location.reload();
            }
          },
        });
      }
    </script>
  </head>
  <body>
    <header>
      <div class="header__logo">
        <i class="fa-brands fa-creative-commons-nd"></i>
      </div>
      <div class="header__title">
        <h1 class="title is-2 title--main" style="color: white;">유대의 민족</h1>
      </div>
      <button
        class="button"
        onclick="window.location.href='{{ url_for( 'main' ) }}';"
      >
        돌아가기
      </button>
    </header>

    <div class="wrap">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div id="hidden_id" style="display: none">{{session['user_name']}}</div>
        <div id="hidden_id2" style="display: none">{{session['user_id']}}</div>
        <div class="card__container">
          <div class="card-name">{{user_name}}</div>
          <div class="card-content">
            <div class="card__header">
              <div class="card__text">
                <span class="common__text">공감 : </span>
                <span class="common__count"></span>
              </div>
            </div>
            <div class="list">
              {% for common in common_content %}
              <div class="list__content">
                <div id="common_hidden" style="display: none">
                  {{common._id}}
                </div>
                <div id="{{common._id}}" style="display: none">{{user_id}}</div>
                <script type="text/javascript">
                  callSympathyData("{{common._id}}");
                </script>
                <div class="{{common._id}}">{{common.info}}</div>
                <p id="{{common._id}}_2"></p>
                <button
                  class="button"
                  onclick="clickSympathy(`{{common._id}}`)">
                  공감
                </button>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
