<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>yourprofile</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link rel="stylesheet" href="/static/styleYour.css" />
  </head>
  <body>
    <header>
      <button class="button">돌아가기</button>
    </header>
    <div class="wrap">
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card__container">
          <div class="card-name">{{user_name}}</div>
          <div class="card-content">
            <div class="card__header">
              <div class="card__text">
                <span class="common__text">공감 : </span>
                <span class="common__count">4</span>
              </div>
            </div>
            <div class="list">
              <div class="list__content">
                <div class="content__comment">여행을 좋아해요.</div>
                <button class="button">공감</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
